/* Селектор цветов через переменные */
:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-hover: #188ce8;
  --accent-background-color: #2196f3e6;
  --secondary-background-color: #2f303a;
  --our-team-color: #f5f4fa;
  --header-border-color: #ececec;
  --portfolio-cards-border-color: #eeeeee;
  --default-icon-color: #afb1b8;
  --footer-icons: #ffffff1a;
  --what-we-do-background-color: #2f303acc;
  --backdrop-bg-color: #00000033;
  --modal-btn-close-color: #000000;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Настраиваю глобальный тег Body */
body {
  color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* Утиилиты */
/* Для всех списков прятаю точки, удаляю padding & margin */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* Для всех линков(тег а) прятаю нижнее подчеркивание */
.link {
  text-decoration: none;
}
/* скрывание заголовков */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Задаю display, ширину и высоту для img */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 2px solid tomato; */
}

/* Section Settings */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Задаю цвет текста для ссылок title*/
.title {
  color: var(--title-text-color);
}

/* Шапка сайта */
.logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.header-class {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  background-color: var(--primary-text-color);
  border-bottom: 1px solid var(--header-border-color);
}

.site-nav-list:hover,
.site-nav-list:focus {
  color: var(--accent-color);
}

.site-nav-list.title.current {
  display: block;
  position: relative;
  color: var(--accent-color);
}

.site-nav-list.title.current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav-list,
.contact-header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-header-list {
  color: var(--secondary-text-color);
}

.contact-header-list:hover,
.contact-header-list:focus {
  color: var(--accent-color);
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .main-nav {
  display: flex;
  align-items: center;
  /* background-color: tomato; */
}

.main-nav .site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

/* .site-nav .item+.item,
.contact-header .item+.item {
    margin-left: 50px;
} */

.main-header .item + .item {
  margin-left: 50px;
}

.main-header .contact-header {
  display: flex;
  align-items: center;
  /* background-color: tomato; */
}

.header-contact-icons {
  margin-right: 10px;
  fill: currentColor;
}

/* Секция героя */
.section-hero {
  text-align: center;
  background-color: var(--secondary-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-title {
  color: var(--primary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.accent-button {
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accent-button:hover {
  background-color: var(--accent-hover);
}
/* Секция Особенности */
.feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 10px;
}

.feature-list {
  display: flex;
  align-items: center;
}

.feature-list .item + .item {
  margin-left: 30px;
}
.feature-text {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  margin: 0;
}

.feature-list .feature-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--our-team-color);
}

/* Секция Чем мы занимаемся? */
.title.about-us {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.about-us-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-list .item + .item {
  margin-left: 30px;
}
.section.about {
  padding-top: 0px;
}

.card-about-us {
  position: relative;
}
.card-about-us .text-position {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  background-color: var(--what-we-do-background-color);
}
.card-about-us .text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.14;
  color: var(--primary-text-color);
}
/* Наша команда */
.our-team-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-team-list .title-name {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}
.our-team-list .title.name {
  margin-bottom: 10px;
}

.our-team-list .item {
  background-color: var(--primary-text-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-list .item + .item {
  margin-left: 30px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
}

.section-our-team {
  background-color: var(--our-team-color);
}

.position-name {
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 16px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--default-icon-color);
  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  fill: var(--primary-text-color);
  background-color: var(--accent-color);
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

/* Section Our Clients */
.our-clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.our-clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-clients-list .our-clients-item + .our-clients-item {
  margin-left: 30px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  fill: var(--default-icon-color);
  border: 1px solid var(--default-icon-color);
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:focus,
.client-link:hover {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Footer */
.contact-footer-list {
  color: var(--primary-text-color);
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer-list:hover,
.contact-footer-list:focus {
  color: var(--accent-color);
}

.footer-back {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-back .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-address-list .item + .item {
  display: block;
  margin-top: 10px;
}
.logo-studio {
  color: var(--primary-text-color);
}

.email,
.phone {
  opacity: 0.6;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--primary-text-color);
  background-color: var(--footer-icons);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:focus,
.footer-social-link:hover {
  background-color: var(--accent-color);
}
.footer-contacts-container {
  flex-grow: 1;
  margin-right: 70px;
}
.footer-text {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-subscribe-container {
  margin-left: 93px;
}
.subscribe-form {
  display: flex;
}
.email-form {
  background-color: transparent;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-text {
  display: block;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe-button {
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin-left: 12px;
}
.button-text {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
}
.subcribe-icon {
  fill: currentColor;
  margin-left: 10px;
  line-height: 1.9;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--accent-hover);
}
/*  */
/* Portfolio Page */
/*  */
/* Buttons Selector */
.button-name {
  background-color: var(--our-team-color);
  color: var(--title-text-color);
  border-radius: 4px;
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* identical to box height, or 162% */
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Buttong Hover and Focus */
.button-name:hover,
.button-name:focus,
.button-name.title.current {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
}
.project-description {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-bottom: 1px solid var(--portfolio-cards-border-color);
  border-left: 1px solid var(--portfolio-cards-border-color);
  border-right: 1px solid var(--portfolio-cards-border-color);
}

.button-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.button-list .item + .item {
  margin-left: 8px;
}

.button-list .button-name {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
}

.project-links {
  display: flex;
  flex-wrap: wrap;
}

.project-links .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-links .link:hover,
.project-links .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transform: translateY(0%);
}

.project-links .item:nth-child(3n + 2) {
  margin-left: 30px;
  margin-right: 30px;
}

.project-links .item:nth-child(n + 4) {
  margin-top: 30px;
}

.project-links .overlay-image {
  position: relative;
  overflow: hidden;
}
.project-links .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;

  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  background-color: var(--accent-background-color);
  color: var(--primary-text-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-links .link:hover .text,
.project-links .link:focus .text {
  transform: translateY(0);
}
.backdrop {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg-color);

  opacity: 1;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 528px;
  height: 581px;

  background-color: var(--primary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;

  fill: var(--modal-btn-close-color);
  background: var(--primary-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  fill: var(--accent-color);
}

.contact-form-text {
  display: block;
  text-align: center;
  margin-bottom: 12px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-text-color);
}

.contact-form {
  text-align: center;
}

.label-text {
  display: block;
  text-align: left;
  margin-bottom: 4px;

  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.label-agreement-text {
  display: block;
  text-align: left;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.submit-form-button {
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 10px;
  padding-bottom: 10px;

  color: var(--primary-text-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;

  transition: box-shadow 250ms var(--transition-function),
    background-color 250ms var(--transition-function);
}

.submit-form-button:hover,
.submit-form-button:focus {
  background-color: var(--accent-hover);
}

.input-field {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms var(--transition-function);
}

.input-field:focus-within,
.input-field-comment:focus-within {
  outline: 0;
  border-color: var(--accent-color);
}

.input-field:hover,
.input-field:focus,
.input-field-comment:hover,
.input-field-comment:focus {
  outline: 0;
  border-color: var(--accent-color);
}

.input-container:focus-within .input-icon {
  fill: var(--accent-color);
}
.input-container {
  position: relative;
  margin-bottom: 10px;
}

.input-icon {
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--title-text-color);

  transition: fill 250ms var(--transition-function);
}

.input-field-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms var(--transition-function);
  margin-bottom: 20px;
}

.checkbox-label-link {
  color: var(--accent-color);
  text-decoration-line: underline;
}

.agreement-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  cursor: pointer;
}

.checkbox-label {
  line-height: 1.71;
  font-size: 14px;
  color: var(--secondary-text-color);
  margin-left: 7px;
}

.checkbox-agreement {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox-container {
  position: relative;
  display: block;
  width: 16px;
  height: 15px;
  cursor: pointer;
}

.checkbox-icon-checked {
  position: absolute;
  top: 0;
  left: 0;

  width: 16px;
  height: 15px;

  fill: currentColor;
  transform: scale(0.2);
  opacity: 0;
  transition: transform 250ms var(--transition-function), opacity 250ms var(--transition-function);
}
.checkbox-icon-unchecked {
  position: absolute;
  top: 0;
  left: 0;
  display: block;

  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: border-color 250ms var(--transition-function);
}

.checkbox-agreement:checked + .checkbox-icon-checked {
  transform: scale(1);
  opacity: 1;
}
.checkbox-agreement:checked ~ .checkbox-icon-unchecked {
  border-color: var(--accent-color);
}

.checkbox-agreement:hover ~ .checkbox-icon-unchecked {
  border-color: var(--accent-color);
}
.checkbox-agreement:focus ~ .checkbox-icon-unchecked {
  border-color: var(--accent-color);
}
